*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    min-width: 400px;
    font-family: 'Times New Roman', Times, serif;
}

input{
    width: 350px;
    height: 30px;
    margin: 20px;
    border-color: rgb(32, 174, 218);
}

button{
    width: 100px;
    height: 30px;
    margin-left: 20px;
    border: none;
    background-color: rgb(32, 174, 218);
    color: white;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
button:hover{
    background-color: rgb(18, 228, 63);
    transition: 0.5s;
}

ul{
    padding-left: 20px;
    list-style-type: none;
    padding-top: 10px;
    width: 300px;
}
ul li a{
    color: rgb(32, 174, 218);
}